<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


<!-- ===================================MARTERIALS====================================== -->
    <material name="light_black">
        <color rgba="0.5 0.5 0.5 1.0"/>
    </material>

    <material name="salmon">
        <color rgba="0.8754 0.4471 0.3176 1.0"/>
    </material>

    <material name="yellow">
        <color rgba="1 0.7569 0.0549 1.0"/>
    </material>

    <material name="purple">
        <color rgba="0.6824 0.3333 0.7373 1.0"/>
    </material>

    <material name="green">
        <color rgba="0.3725 0.6549 0.2392 1.0"/>
    </material>

    <material name="blue">
        <color rgba="0.3686 0.2509 0.6431 1.0"/>
    </material>

    <material name="blue_tifany">
        <color rgba="0.5372 0.8549 0.8274 1.0"/>
    </material>



<!-- =====================================XACROS======================================== -->
    <xacro:macro name="base_inertia" params="xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}" />
            <mass value="10.6734184" />
            <inertia ixx="0.05702778" ixy="0" ixz="0"
                     iyy="0.05702779"  iyz="0"
                     izz="0.10703462" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="arm1_inertia" params="xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}" />
            <mass value="16.02392927" />
            <inertia ixx="0.13097774" ixy="-1.354e-8" ixz="0"
                     iyy="0.11390137"  iyz="0.00013796"
                     izz="0.06378491" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="arm2_inertia" params="xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}" />
            <mass value="58.29018559" />
            <inertia ixx="6.62579145" ixy="0.0000054" ixz="0"
                     iyy="6.65994246"  iyz="-4e-8"
                     izz="0.20137485" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="arm3_inertia" params="xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}" />
            <mass value="43.97624328" />
            <inertia ixx="0.16111702" ixy="0" ixz="-9.935e-8"
                     iyy="2.67279881"  iyz="5.713e-9"
                     izz="2.70695549" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="arm4_inertia" params="xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}" />
            <mass value="16.02394366" />
            <inertia ixx="0.13101946" ixy="1.335e-8" ixz="-2.826e-9"
                     iyy="0.11390118"  iyz="-0.00166483"
                     izz="0.06382633" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="arm5_inertia" params="xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}" />
            <mass value="11.25261767" />
            <inertia ixx="0.03965941" ixy="2.335e-9" ixz="0.00003178"
                     iyy="0.05673546"  iyz="-6.760e-10"
                     izz="0.05036553" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="arm6_inertia" params="xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}" />
            <mass value="9.94813346" />
            <inertia ixx="0.05211159" ixy="0" ixz="0"
                     iyy="0.05197757"  iyz="0"
                     izz="0.02702159" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="gripper_inertia" params="xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}" />
            <mass value="0.23129816" />
            <inertia ixx="0.00058838" ixy="-0.00002395" ixz="0"
                     iyy="0.00007385"  iyz="0"
                     izz="0.00065355" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="gazebo_material" params="link ambient">
        <gazebo reference="${link}">
            <selfCollide>true</selfCollide>
            <visual>
                <material>
                    <ambient>${ambient}</ambient>
                    <diffuse>0.9 0.6 0.45 1</diffuse> 
                    <specular>0.95 0.95 0.95 1</specular>
                    <emissive>0 0 0 0</emissive>  
                </material>
                <mu1>0.2</mu1>
                <mu2>0.2</mu2>
                <self_collide>true</self_collide>
                <gravity>true</gravity>
            </visual>

        </gazebo>
    </xacro:macro>

    <xacro:macro name="contact_sensor" params="reference">
        <gazebo reference="${reference}">
        <sensor name="${reference}_bumper" type="contact">
            <always_on>true</always_on>
            <update_rate>50</update_rate>
            <contact>
                <collision>${reference}_collision_collision</collision>
            </contact>
            <plugin name="${reference}_contact_plugin" filename="libgazebo_ros_bumper.so">
                <ros>
                    <remapping>bumper_states:=${reference}_bumper</remapping>
                </ros>
                <alwaysOn>true</alwaysOn>
                <update_rate>50.0</update_rate>
                <frameName>${reference}</frameName>
            </plugin>
        </sensor>
    </gazebo>
    </xacro:macro>

    <xacro:macro name="transmission" params="joint_name">
        <transmission name="transmission_${joint_name}">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="joint_name">
                <hardwareInterface>velocity</hardwareInterface>
            </joint>
        </transmission>
    </xacro:macro>

<!-- ===============================MATERIAL DEFINITIONS================================ -->

    <xacro:gazebo_material link="base_link" ambient="0.5 0.5 0.5" />
    <xacro:gazebo_material link="arm1_link" ambient="0.8754 0.4471 0.3176" />
    <xacro:gazebo_material link="arm2_link" ambient="1 0.7569 0.0549" />
    <xacro:gazebo_material link="arm3_link" ambient="0.6824 0.3333 0.7373" />
    <xacro:gazebo_material link="arm4_link" ambient="0.3725 0.6549 0.2392" />
    <xacro:gazebo_material link="arm5_link" ambient="0.3686 0.2509 0.6431" />
    <xacro:gazebo_material link="arm6_link" ambient="0.5372 0.8549 0.8274" />
    <xacro:gazebo_material link="gripper1_link" ambient="0.5 0.5 0.5" />
    <xacro:gazebo_material link="gripper2_link" ambient="0.5 0.5 0.5" />
    



</robot>