<?xml version="1.0"?>
<robot name="sixdof_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="ros2_control.xacro"/>
    <xacro:include filename="sixdof_arm_properties.urdf.xacro"/>
    <xacro:include filename="mobile_base.urdf.xacro"/>
    <xacro:include filename="lidar_sensor.urdf.xacro"/>
    
</robot>
