<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <material name="light_black">
        <color rgba="0.4 0.4 0.4 1.0"/>
    </material>


    <link name="base_footprint"/>

    <link name="base_link">
        <visual>
            <geometry>
                <mesh filename="package://6dof_arm_description/meshes/6dof_arm/base_link.stl" scale="1 1 1"/>
            </geometry>
            <material name="light_black"/>
        </visual>
    </link>

    <joint name="base_joint" type="fixed">  
        <parent link="base_footprint" />
        <child link="base_link" />
        <origin xyz ="0 0 0" rpy="0 0 0" />
    </joint>

</robot>
