<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="base_link">
        <selfCollide>true</selfCollide>
        <visual name="light_black">
            <material>
                <ambient>0.5 0.5 0.5</ambient>
                <diffuse>0.9 0.6 0.45 1</diffuse> 
                <specular>0.95 0.95 0.95 1</specular>
                <emissive>0 0 0 0</emissive>  
            </material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
            <self_collide>true</self_collide>
            <gravity>true</gravity>
        </visual>

    </gazebo>

    <gazebo reference="arm1_link">
        <selfCollide>true</selfCollide>
        <visual name="salmon">
            <material>
                <ambient>0.8754 0.4471 0.3176</ambient>
                <diffuse>0.9 0.6 0.45 1</diffuse> 
                <specular>0.95 0.95 0.95 1</specular>
                <emissive>0 0 0 0</emissive>  
            </material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
            <self_collide>true</self_collide>
            <gravity>true</gravity>
        </visual>

    </gazebo>

    <gazebo reference="arm2_link">
        <selfCollide>true</selfCollide>
        <visual name="yellow">
            <material>
                <ambient>1 0.7569 0.0549</ambient>
                <diffuse>0.9 0.6 0.45 1</diffuse> 
                <specular>0.95 0.95 0.95 1</specular>
                <emissive>0 0 0 0</emissive>  
            </material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
            <self_collide>true</self_collide>
            <gravity>true</gravity>
        </visual>

    </gazebo>

    <gazebo reference="arm3_link">
        <selfCollide>true</selfCollide>
        <visual name="purple">
            <material>
                <ambient>0.6824 0.3333 0.7373</ambient>
                <diffuse>0.9 0.6 0.45 1</diffuse> 
                <specular>0.95 0.95 0.95 1</specular>
                <emissive>0 0 0 0</emissive>  
            </material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
            <self_collide>true</self_collide>
            <gravity>true</gravity>
        </visual>
 
    </gazebo>

    <gazebo reference="arm4_link">
        <selfCollide>true</selfCollide>
        <visual name="green">
            <material>
                <ambient>0.3725 0.6549 0.2392</ambient>
                <diffuse>0.9 0.6 0.45 1</diffuse> 
                <specular>0.95 0.95 0.95 1</specular>
                <emissive>0 0 0 0</emissive>  
            </material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
            <self_collide>true</self_collide>
            <gravity>true</gravity>
        </visual>
  
    </gazebo>

    <gazebo reference="arm5_link">
        <selfCollide>true</selfCollide>
        <visual name="blue">
            <material>
                <ambient>0.3686 0.2509 0.6431</ambient>
                <diffuse>0.9 0.6 0.45 1</diffuse> 
                <specular>0.95 0.95 0.95 1</specular>
                <emissive>0 0 0 0</emissive>  
            </material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
            <self_collide>true</self_collide>
            <gravity>true</gravity>
        </visual>

    </gazebo>

    <gazebo reference="arm6_link">
        <selfCollide>true</selfCollide>
        <visual name="blue_tifany">
            <material>
                <ambient>0.5372 0.8549 0.8274</ambient>
                <diffuse>0.9 0.6 0.45 1</diffuse> 
                <specular>0.95 0.95 0.95 1</specular>
                <emissive>0 0 0 0</emissive>  
            </material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
            <self_collide>true</self_collide>
            <gravity>true</gravity>
        </visual>

    </gazebo>


</robot>